#mainTitle {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

td:nth-child(3) {
  width: 14vw;
}

td:nth-child(4) {
  width: 10vw;
}

body {
  background-color: #c0c0c0;
}

th,
td {
  border: 1.5px solid #000000;
  text-align: center;
}

th {
  background-color: #dc3545;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 1.2em;
}

tr:nth-child(even) {
  background-color: #d4dee7;
}
tr:nth-child(odd) {
  background-color: #f0f2fa;
}

.table-wrapper {
  display: flex;
  flex-wrap: wrap;
  border-collapse: separate;
  justify-content: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 1.2em;
}

.relay-wrapper {
  display: flex;
  flex-wrap: wrap;
  border-collapse: separate;
  justify-content: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 1.2em;
}

.relay-wrapper .relay td:nth-child(2) {
  width: 12vw;
}
.relay-wrapper .relay td:nth-child(3) {
  width: 12vw;
}
.relay-wrapper .relay td:nth-child(4) {
  width: 12vw;
}
.relay-wrapper .relay td:nth-child(5) {
  width: 12vw;
}
.relay-wrapper .relay td:nth-child(6) {
  width: 6vw;
}
.relay-wrapper .relay td:nth-child(7) {
  width: 6vw;
}

table {
  margin: 1vh 2vw;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.45);
}

@media screen and (max-width: 600px) {
  #mainTitle {
    font-size: 2em;
    margin: 0px 1vw;
  }

  .table-wrapper {
    font-size: 0.8em;
  }

  td:nth-child(1) {
    width: 10vw;
  }
  td:nth-child(2) {
    width: 15vw;
  }
  td:nth-child(3) {
    width: 35vw;
  }
  td:nth-child(4) {
    width: 20vw;
  }
  td:nth-child(5) {
    width: 15vw;
  }
  .btn-custom {
    width: 250px;
    height: 45px;
    font-size: 1em;
  }
}

.btn-custom {
  width: 400px;
  height: 70px;
  font-size: 1.35em;
}
