body {
  background-color: #c0c0c0;
}

.boy {
  padding: 10px 10px;
}

th,
td {
  border: 1.5px solid #000000;
  padding: 3px;
  text-align: center;
}

th {
  background-color: #dc3545;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

tr:nth-child(even) {
  background-color: #f9f9f9b6;
}

.table-wrapper {
  display: flex;
  flex-wrap: wrap;
  border-collapse: separate;
  justify-content: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 0.9em;
}

td:nth-child(3) {
  width: 12vw;
}
td:nth-child(4) {
  width: 10vw;
}

.table-wrapper table {
  margin: 0 4vw;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.45);
}

#menuSelect {
  text-align: center;
  justify-content: center;
  margin-top: auto;
}
